<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="/estilos.css">
</head>
<body>
  <h1>Hola <%= usuario %>!</h1>
  <a href="/logout">Cerrar sesión</a>
</body>
</html>
